/*.navbar {*/
/*    background-color: rgba(0, 0, 0, 0.9) !important;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: inherit;
}

.box1 a {
    float: left;
}

.navbar li a {
 color: black !important;
}
.navbar li a:hover {
    color: silver !important;
}
.navbar-nav li:hover>.dropdown-menu {
    display: block;
}
.carouel-caption {
    position: absolute;
    top:42%;
    left: 15%;
}
.btn-danger {
    background-color: #EB0A1E;
    font-size: medium;
}
@media (max-width: 992px) {
    .carouel-caption{
        top: 75%;
        left: 39%;
    }
    .btn-group {
        font-size: 110%;
    }
    .carouel-caption .btn{
        font-size: x-small;
    }
}
@media (max-width: 768px) {
    .carouel-caption{
        top: 75%;
        left: 38%;
    }
    .btn-group {
        display: none;
    }
    .carouel-caption .btn{
        font-size: xx-small;
    }
}
@media (max-width: 576px) {
    .carouel-caption{
        top: 66%;
        left: 30%;

    }
    .btn-group {
        display: none;
    }
    .carouel-caption .btn{
        font-size: small;
    }
}
.btn-group .dropdown-menu span {
    visibility:hidden;
}
.btn-group .dropdown-menu .bi {
    color: black;

}
.btn-group .dropdown-menu .dropdown-item:hover> span {
    visibility: visible;
}

/*.section-form-contact {*/
/*    width: 100%;*/
/*    max-width: 1064px;*/
/*    margin: 0 auto;*/
/*    padding: 24px 60px 24px 90px;*/
/*    border: 1px solid #808080;*/
/*    margin-bottom: 122px;*/
/*}*/

/*.section-form-contact .form-contact-title {*/
/*    font-weight: bolder ;*/
/*    font-size: 20px;*/
/*    line-height: 120%;*/
/*    color: #000000;*/
/*    margin-bottom: 24px;*/
/*    text-align: center;*/
/*}*/
/*.section-form-contact .form-divider {*/
/*    width: 100%;*/
/*    max-width: 409px;*/
/*    height: 2px;*/
/*    background-color: #EB0A1E;*/
/*    margin: 0 auto;*/
/*    margin-bottom: 22px;*/
/*}*/

/*.section-form-contact p {*/
/*    padding-top: 0;*/
/*}*/
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #151414;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-text  {
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.youtube-bg{
    background: #d40c18;
}
.google-bg{
    background: #DD4B39;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}
.footer-widget ul li {
    /*display: inline-block;*/
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: #ff5e14;
}
.footer-widget ul li a {
    font-size: small;
    color: #fff;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area{
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: #ff5e14;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #ff5e14;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

/*Nghịch*/

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}
.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2em !important;
    line-height: 48px;
    padding-bottom: 48px;
    /*color: #5543ca;*/
    color: #000;
    /*background: #5543ca;*/
    background: #000;
    /*background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;*/
    /*background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;*/
    /*background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;*/
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    /*border-color: #5543ca;*/
    border-color: #EB0A1E;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    /*color: #5543ca;*/
    color: #000;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    /*background-image: linear-gradient(125deg,#a72879,#064497);*/
    background-image: #EB0A1E;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
}





